.main-heading{
    text-align: center;

}
.main-heading h1{
    margin: 50px;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 60px;
    text-transform: uppercase;

}  

.imges{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr;

   
    
}
.fetchimage{

   text-align: center;
   padding: 10px;
   transition: 0.5s ease;
   cursor: pointer;

}

.fetchimage:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0 , 6);
}