.Container{
    width: 100vw;
    height: 100vw;
    background: linear-gradient(
    (rgba(255,255,255,255,0.5),
    (rgba(255,255,255,255,0.5)
    ),
    url("../image/af43b4ef3987d2b2f315ca9c7b65777e.jpg");

}